Final Project/Node-red Databaseflows/json File
[
    {
        "id": "6918d787abbff86e",
        "type": "tab",
        "label": "Intrusion Detection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fd1896634d827e2",
        "type": "mqtt in",
        "z": "6918d787abbff86e",
        "name": "Subscriber",
        "topic": "/sensor/Infrared",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7bdc53f656a1bdf5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "24ed703de529ecd1",
                "c9248e2dbb6e7d49",
                "138539c28ea4004c"
            ]
        ]
    },
    {
        "id": "24ed703de529ecd1",
        "type": "debug",
        "z": "6918d787abbff86e",
        "name": "Intrusion Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "540421936b520d87",
        "type": "mqtt out",
        "z": "6918d787abbff86e",
        "name": "Publisher",
        "topic": "/actuator/LED",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7bdc53f656a1bdf5",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "c9248e2dbb6e7d49",
        "type": "json",
        "z": "6918d787abbff86e",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "9048b4769bafc0ee"
            ]
        ]
    },
    {
        "id": "9048b4769bafc0ee",
        "type": "template",
        "z": "6918d787abbff86e",
        "name": "reply",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "64f1adbfedad3755",
                "540421936b520d87"
            ]
        ]
    },
    {
        "id": "64f1adbfedad3755",
        "type": "debug",
        "z": "6918d787abbff86e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "568094726f73ba14",
        "type": "mqtt in",
        "z": "6918d787abbff86e",
        "name": "LED Value",
        "topic": "/actuator/LED/value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7bdc53f656a1bdf5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "ef67ff26cdb055ac"
            ]
        ]
    },
    {
        "id": "ef67ff26cdb055ac",
        "type": "function",
        "z": "6918d787abbff86e",
        "name": "Inserting LED data",
        "func": "const led_message = msg.payload;\nmsg.payload = [led_message];\nmsg.topic = \"INSERT INTO led(led_value, led_time_activated) VALUES ( ?, (SELECT(now()))); commit;\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "0c9e07481f9f9d8d"
            ]
        ]
    },
    {
        "id": "0c9e07481f9f9d8d",
        "type": "mysql",
        "z": "6918d787abbff86e",
        "mydb": "7575d25130d523ab",
        "name": "Database",
        "x": 860,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "138539c28ea4004c",
        "type": "function",
        "z": "6918d787abbff86e",
        "name": "Inserting sensor data",
        "func": "const sensor_message = msg.payload;\nmsg.payload = [sensor_message];\nmsg.topic = \"INSERT INTO led(sensor_value, sensor_time_activated) VALUES ( ?, (SELECT(now()))); commit;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "3c68112d8bad4ffc"
            ]
        ]
    },
    {
        "id": "87c37e52677abb0f",
        "type": "mqtt in",
        "z": "6918d787abbff86e",
        "name": "Buzzer Value",
        "topic": "/actuator/BUZZER/value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7bdc53f656a1bdf5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "175ad2c04b8d991e"
            ]
        ]
    },
    {
        "id": "175ad2c04b8d991e",
        "type": "function",
        "z": "6918d787abbff86e",
        "name": "buzzer value insertion",
        "func": "const buzzer_message = msg.payload;\nmsg.payload = [buzzer_message];\nmsg.topic = \"INSERT INTO led(buzzer_value, buzzer_time_activated) VALUES ( ?, (SELECT(now()))); commit;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "0c9e07481f9f9d8d"
            ]
        ]
    },
    {
        "id": "9d928e956d0c2366",
        "type": "function",
        "z": "6918d787abbff86e",
        "name": "LED table Creation",
        "func": "msg.topic = \"Create table led_light(led_value ENUM('HIGH','LOW),led_time_activated DATETIME);commit;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "0c9e07481f9f9d8d"
            ]
        ]
    },
    {
        "id": "0833720ddc722213",
        "type": "function",
        "z": "6918d787abbff86e",
        "name": "Buzzer table Creation",
        "func": "msg.topic = \"Create table buzzer(buzzer_value ENUM('HIGH','LOW),buzzer_time_activated DATETIME);commit;\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 600,
        "wires": [
            [
                "0c9e07481f9f9d8d"
            ]
        ]
    },
    {
        "id": "3c68112d8bad4ffc",
        "type": "mysql",
        "z": "6918d787abbff86e",
        "mydb": "7575d25130d523ab",
        "name": "Database",
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "202d8a6a3f0f7b77",
        "type": "function",
        "z": "6918d787abbff86e",
        "name": "Sensor table Creation",
        "func": "msg.topic = \"Create table sensor(sensor_value ENUM('HIGH','LOW),sensor_time_activated DATETIME);commit;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "3c68112d8bad4ffc"
            ]
        ]
    },
    {
        "id": "7bdc53f656a1bdf5",
        "type": "mqtt-broker",
        "name": "Local mqtt",
        "broker": "10.0.0.185",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7575d25130d523ab",
        "type": "MySQLdatabase",
        "name": "iot_intrusion_detection_database",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_intrusion_detection_database",
        "tz": "",
        "charset": "UTF8"
    }
]
